/* Its all about css of handson */
#Dimention{
    display: flex;
    flex-direction: row;
}
.card{
    height: 100px;
    width: 100px;
    margin: 2px;
    border: 2px solid purple;
}

body{
    background-color: lemonchiffon;
}
h2{
    color: blue;
}
div pre{
    color: purple;
}